<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="9ba4d9d1-5421-4299-806b-1d18f1df56fd" Version="1.0.0.0" Publisher="CN=Alexandre" />
  <Properties>
    <DisplayName>SuivreMonColis</DisplayName>
    <PublisherDisplayName>Alexandre</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="SuivreMonColis" Description="SuivreMonColis" ForegroundText="light" BackgroundColor="#3498db" Square150x150Logo="images\Logo.png" Square30x30Logo="images\SmallLogo.png" ToastCapable="true">
        <m2:DefaultTile ShortName="SuivreMonColis">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\splashscreen.png" BackgroundColor="#2c3e50" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.search" StartPage="pages/search/searchResults.html" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>